body {
    background: #eee
}

h3 {
    color: #555
}

h2 a {
    text-decoration: none
}

h2,.moduletable h3, .items-leading h2 {
    border-bottom: solid 1px #ddd;
}

.items-row h2 {
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
}

a:link,a:visited {
    color: #095197
}

a:hover,a:active,a:focus {
    background: #095197;
    color: #FFF;
}

.logoheader {
    background: url(../images/personal/personal2.png) no-repeat right
    bottom #0C1A3E;
    color: #FFFFFF;
    min-height: 250px;
}

#all {
    background: #FFFFFF;
    color: #444;
}

#shadow #all {
    box-shadow: 0px 20px 10px #555555
}

/*#header ul.menu {*/
/*background-color:#ddd;*/
/*background-repeat: repeat-x;*/
/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeeeee", endColorstr="#dddddd");*/
/*background-image: -khtml-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));*/
/*background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);*/
/*background-image: -ms-linear-gradient(top, #eeeeee, #dddddd);*/
/*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));*/
/*background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);*/
/*background-image: -o-linear-gradient(top, #eeeeee, #dddddd);*/
/*background-image: linear-gradient(#eeeeee, #dddddd);*/
/*border-color: #b2b2b2 #b2b2b2 hsl(114, 0%, 62.5%);*/

/*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.49);*/
/*-webkit-font-smoothing: antialiased;*/
/*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px*/
/*rgba(0, 0, 0, 0.05);*/
/*color: #095197;*/
/*border: solid 1px #ddd;*/
/*border: 1px solid #e5e5e5;*/
/*text-transform: uppercase;*/
/*}*/



#header ul.menu a,#header ul.menu a {
    color: #fff;
    display: inline-block;
    font-weight:normal;
    text-decoration: none;
    padding: 0px 10px;
    margin: 0;
    display: inline-block;
    margin: 0 0 0;
    padding: 12px 15px;
    position: relative;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
}

/*  grey background */
.button,button,p.readmore a,#header input.button,.pagenav a:link,.pagenav a:visited,#advanced-search-toggle,.profile-edit a:link,.profile-edit a:visited,h3.js_heading
{
    background-color:#ddd;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#dddddd");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#dddddd));
    background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
    background-image: -ms-linear-gradient(top, #ffffff, #dddddd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
    background-image: -webkit-linear-gradient(top, #ffffff, #dddddd);
    background-image: -o-linear-gradient(top, #ffffff, #dddddd);
    background-image: linear-gradient(#ffffff, #dddddd);
    border-color: #b2b2b2 #b2b2b2 hsl(114, 0%, 62.5%);

    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.49);
    -webkit-font-smoothing: antialiased;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px
    rgba(0, 0, 0, 0.05);
    color: #095197;
    border: solid 1px #ddd
}

/* +++++++++++++  table display  Catgegories table, contact etc, ++++++++++++++++++++* */
table {
    border: solid 1px #ddd
}

table th {
    background-color: #0074cc;
    color: #fff;
    background-image: -moz-linear-gradient(top, #095197, #1B6BA5);
    background-image: -ms-linear-gradient(top, #095197, #1B6BA5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#095197),
    to(#1B6BA5) );
    background-image: -webkit-linear-gradient(top, #095197, #1B6BA5);
    background-image: -o-linear-gradient(top, #095197, #1B6BA5);
    background-image: linear-gradient(top, #095197, #1B6BA5);
    background-repeat: repeat-x;
    filter: progid :   DXImageTransform.Microsoft.gradient (   startColorstr
    =
    '#095197', endColorstr =   '#1B6BA5', GradientType =   0 );
    border-color: #0055cc #0055cc #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid :   dximagetransform.microsoft.gradient (   enabled =
    false );
}

table th a:link,table th a:visited {
    color: #fff
}

tr.odd,tr.cat-list-row1 {
    background: #f8f8f8
}

table  tr:hover td {
    background: #FEFDE2;
}

/* blue background */
.button:hover,
.button:active,
.button:focus,
button:hover,
p.readmore a:hover,
#header ul.menu a:hover,
#header ul.menu a:active,
#header ul.menu a:focus,
.pagenav a:hover,
.pagenav a:active,
.pagenav a:focus,
#advanced-search-toggle:hover,
#advanced-search-toggle:active,
#advanced-search-toggle:focus,
.profile-edit a:hover,
.profile-edit a:active,
.profile-edit a:focus,
#fontsize a:hover,#fontsize a:active,#fontsize a:focus,
#mobile_select h2 a
{
    background-color: #090909;
    color: #ed6b1d ;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);




}

/* +++++++++++++++++  Pagination +++++++++++++++ */
.pagination span,.pagination span  a:hover {
    color: #999999;
    background-color: #f5f5f5;
}

/* active item */
span.pagenav {
    background: #095197;
    color: #fff
}

.pagination-start span.pagenav,.pagination-prev  span.pagenav,.pagination-end span.pagenav,.pagination-next span.pagenav
{
    background-color: #f5f5f5;
    color: #444
}

/* +++++++++++++++++  content  +++++++++++++++ */
.article-info {
    background-color: #fbfbfb;
    background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
    to(#f5f5f5) );
    background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: linear-gradient(top, #ffffff, #f5f5f5);
    background-repeat: repeat-x;
    filter: progid :   DXImageTransform.Microsoft.gradient (   startColorstr
    =
    '#ffffff', endColorstr =   '#f5f5f5', GradientType =   0 );
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}

ul.menu a:link,ul.menu a:visited {
    color: #444;
}

/* ++++++++++++++++++++++  menu ++++++++++++++++++++++++++  */
/*.moduletable_menu {*/
/*border: solid 1px #ddd;*/
/*background: #f9f9f9;*/
/*}*/

/*#header ul.menu {*/
/*border: solid 1px #D5D5D5;*/
/*box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);*/
/*}*/

#header ul.menu a {
    box-shadow: none;
    border-bottom: 0
}


/* ++++++++++++++++   highlightning active menuitem  +++++++++++++++++++ */


ul.menu  li.active ul li a,ul.menu  li.active ul li.active  ul li a,ul.menu  li.active ul li.active  ul li.active ul li  a,ul.menu  li.active ul li.active  ul li.active ul li.active ul li a
{
    font-weight: normal
}

ul.menu a {
    box-shadow: 0 1px 0 #fff;
    border-bottom: solid 1px #ddd;
    text-shadow: 0 1px 0 #fff
}

ul.menu ul a {
    background: #e5e5e5;
    margin-bottom: 1px
}

ul.menu ul ul ul a {
    background: #f5f5f5 url(../images/arrow.png) no-repeat 24px center;
}

ul.menu ul ul ul ul a {
    background: #fff;
}

/* +++++++++++++++++++++++  SLIDER  ++++++++++++++++++++  */
.panel h3.pane-toggler a {
    background: url(../images/slider_plus.png) right top no-repeat;
    color: #333
}

.panel h3.pane-toggler-down a {
    background: url(../images/slider_minus.png) right top no-repeat;
    border-bottom: solid 1px #ddd;
    color: #333
}

/*  +++++++++++++++++   Tabs ++++++++++++++++++++++  */
ul.tabs li,dl.tabs dt h3 a:link,dl.tabs dt h3 a:visited {
    background: #f5f5f5 url(../images/nature/box.png) repeat-x;
}

ul.tabs li a:link,ul.tabs li a:visited,dl.tabs dt a {
    color: #333;
    border: solid 1px #ddd;
    border-bottom: 0
}

ul.tabs li a:hover,ul.tabs li a:active,ul.tabs li a:focus {
    color: #000
}

.tabcontent,div.current {
    background: #fff;
    color: #000;
    border: solid 1px #ddd;
}

.tabcontent .linkclosed {
    color: #000;
    border-bottom: solid 1px #e5e5e5;
}

ul.tabs li a.linkopen,dl.tabs dt.open  h3 a:link,dl.tabs dt.open  h3 a:visited
{
    background: #fff;
    color: #333;
    border-radius: 5px 5px 0px 0px;
}

ul.tabs li a.linkclosed:hover,ul.tabs li a.linkclosed:active,ul.tabs li a.linkclosed:focus,ul.tabs li a.linkopen:hover,ul.tabs li a.linkopen:active,ul.tabs li a.linkopen:focus
{
    background: #555;
    color: #fff
}

#footer-inner,#footer {
    background: #f5f5f5;
    box-shadow: 0px 20px 10px #555
}

#footer {
    background: #555;
    max-width: 1025px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px #555555;
    color: #fff
}

#footer a {
    color: #fff;
    background: none
}

#bottom a {
    background: none
}

.box1 {
    border-right: solid 1px #ccc
}

.box3 {
    border-left: solid 1px #ccc
}

#bottom  ul li a {
    background-image: none;
    padding-left: 0
}
















/* responsive */
#mobile_select h2 {border:0; margin:-17px 0 0 0; padding:0; background:#0C1D43;text-align:right}
#mobile_select h2 a {
    display:inline-block;
    font-size:0.8em;
    border-radius:4px 4px 0 0;
    padding:6px;
    font-size:0.75em;
    margin-right:5px;
}



@media only screen and (max-width: 480px) {

    img {
        max-width: 100%;
        height: auto;
        border: 0;
        -ms-interpolation-mode: bicubic;
    }


    #fontsize{display:none}
    #nav,#wrapper2,#wrapper,.cols-3 .column-1,.cols-3 .column-2,.cols-3 .column-3,#right,.box,#header form
    {
        float: none;
        width: 100%
    }
    #header {padding-top:3em}
    #header form  {margin:0}
    .logoheader {background:#0C1D43; min-height:100px; margin:0}
    .box {
        border-left: 0 !important;
        border-bottom: solid 1px #ddd;
    }
    #line {
        text-align: center;
        top: 0;
        right: auto;
        max-width: 100% ;
        min-width:100%;

        margin: 0 0px; background:#095197;
    }
    #header form input {
        float: none; margin-bottom:4px
    }
    #menuwrapper { margin-top:10px; }
    #header ul.menu {position:relative; top:0;left:20px; right:20px; margin:0; width:90%; border-radius:4px}
    #header ul.menu li:first-child a {border-radius: 4px 4px 0 0}
    #header ul.menu li:last-child a {border-radius:0 0 4px 4px }
    #header ul.menu li a:link,
    #header ul.menu li a:visited {
        display: block;
        padding: 6px 10px;
        border-bottom: solid 1px #ccc
    }
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1382px) { /* Styles */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) , only screen and
(min--moz-device-pixel-ratio: 1.5) , only screen and
(min-device-pixel-ratio: 1.5) { /* Styles */
}


/*leetboys css*/

#header ul.menu {
    text-transform: uppercase;
    background-color: #292929;
    margin: 0;
    margin-top: -10px;
    text-align: left;
    padding-left: 8%;
    border-radius: 0;
}

@media only screen and (max-width: 480px) {
    #header ul.menu {
        top: -10px;
        left: 0;
        right: 0;
        margin: 0;
        width: 100%;
        border-radius: 0;
        padding-left: 0;
    }
}

#header ul.menu a {
    font-size: .8em;
    padding: 20px 15px !important;
}


#wrapper2 {
    width: 100%;
    padding-bottom:0;
}

#main {
    padding-top: 0;
}

#contentarea, #contentarea2 {
    padding: 0 !important;
}

#top {
    margin-bottom:0;
}

.moduletable_js, .moduletable {
    margin-bottom: 0;
}
#nav .moduletable h3 {
    display:none;
}



#main h1,
#matches.latestnews_wrapper h2 {
    position: absolute;
    top: 65px;
    left: 8%;
    font-family: "Arial Narrow", Arial;
    font-size: 3.5em;
    line-height: 1em;
    font-weight: normal;
    text-transform: lowercase;
    color: #fff;
    transform: rotate(0);
    transform-origin: 0 0;
}


.latestnews_wrapper h2 {
    border: 0;
}




@media only screen and (max-width: 1199px) {
    #main h1,
    #matches.latestnews_wrapper h2 {
        transform: rotate(270deg);
        top: 165px;
        font-size: 3.5em;
    }
    #main .player h1 {
        top: 210px;
    }
    #matches.latestnews_wrapper h2 {
        top: 165px;
    }
}
@media only screen and (max-width: 992px) {
    #main h1,
    #matches.latestnews_wrapper h2 {
        font-size: 3em;
        transform: rotate(270deg);
        top:165px;
    }
    #matches.latestnews_wrapper h2 {
        top: 165px;
    }
}
@media only screen and (max-width: 767px) {
    #main h1,
    #matches.latestnews_wrapper h2 {
        font-size: 2.5em;
        transform: rotate(270deg);
        top:145px;
        left:5%;
    }
    #matches.latestnews_wrapper h2 {
        top: 130px;
    }
    #main #twitter h1 {
        top: 130px;
    }
}
@media only screen and (max-width: 599px) {
    #main h1, #matches.latestnews_wrapper h2 {
        font-size: 2.2em;
        transform: rotate(270deg);
        top: 145px;
        left: 2%;
        line-height: .8em;
    }
    #matches.latestnews_wrapper h2 {
        top: 115px;
    }
    #main .player h1 {
        top: 170px;
    }
    #main #twitter h1 {
        top: 115px;
    }

}

table tr:hover td {
    background: transparent !important;
}
table {border:0 !important;}


#latestnews.latestnews_wrapper {
    position: absolute;
    top: -20px;
    right: 90px;
    transform: rotate(15deg);
}

#header #latestnews ul {
    left: 0;
    top: 0;
    right: 0;
    display: block;
    margin: 0;
    text-align: left;
    width: 270px;
    background: url(../../../images/bg-latest-news-top.png) 0 0 no-repeat;
    padding: 200px 0 0 20px;
}

#header #latestnews h2 {
    color: #ed6b1d;
    text-transform: uppercase;
    font-size: .9em;
    position: absolute;
    top: 195px;
    right: 300px;
}

#latestnews.latestnews_wrapper h4 {
    color: #fff;
    font-size: 1.1em;
}
#latestnews.latestnews_wrapper h4 em {
    color: #ed6b1d;
}

#latestnews.latestnews_wrapper p {
    color: #fff;
}


.left-space {float:left; width:26%;}
.right-space {float:left; width:5%;}
.center-block {float:left; width:69%;}

.supported-by-bar {position: relative; height:0; padding-bottom:6.7%; background:url(../../../images/bg-logobar.png) 0 0 no-repeat; background-size: 100% 100%; }
.supported-by-bar .right-space {float:right}
.supported-by-bar img {height:100%; }
.supported-by-bar h4 {
    margin-left: 7%;
    font-size: .7em;
    line-height: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 7%;
}
.supported-by-bar a {position: absolute; top:0; height:100%;}
a.elgato {left:26%;}
a.session-dot {right:20%;}
a.derbe-kerle {right:5%;}

#matches.latestnews_wrapper {
    position: relative;
    float:left;
    /*width:100%;*/
    background:url(../../../images/Background.jpg) 0 0 no-repeat; background-size: 100% 100%;
    padding: 0 5% 0 26%;
}

#matches ul,
#matches ul li {
    margin:0;
    padding:0;
    list-style: none;
}



#main #matches h2 {
    color: #ed6b1d;
}

#matches table {
    width: 100%;
    margin: 35px 0 50px;
    table-layout: fixed;
}
#matches table img {
    display: inline;
}
#matches table td {
    border-top: 2px solid #7b7b7b !important;
    padding: 10px 3px;
    text-align: center;
    vertical-align: middle;
}
#matches table tr.first td {
    border-top: 0;
}

#matches table td.clash {
    font-family: "Arial Narrow", Arial;
    font-size: 1.5em;
    line-height: 1em;
    color: #fff;
    width: 40%;
}
#matches table td.clash em {
    display: block;
    font-size: .6em;
    font-style: normal;
}

#matches table td.result {
    font-family: Impact;
    line-height: 1em;
    color: #fff;
    white-space: nowrap;
    width: 15%;
}
#matches table td.result em {
    color: #ed6b1d;
    font-style: normal;
}

#matches table td.image-one {
    width: 24%;
}
#matches table td.image-two {
    width: 21%;
}


#matches table td:first-child {padding-left:0; text-align: left;}
#matches table td:last-child {padding-right:0; text-align: right;}

@media only screen and (min-width: 320px) {
    #matches table td.result {
        font-size: 1em;
    }
    #matches table td.clash {
        font-size: .8em;
    }
    #matches table td.image-one img {
        width: 100%;
    }
    #matches table td.image-two img {
        width: 60%;
    }
}

@media only screen and (min-width: 600px) {
    #matches table td.result {
        font-size: 2em;
    }
    #matches table td.clash {
        font-size: 1.2em;
    }
    #matches table td.image-one img {
        width: 100%;
    }
    #matches table td.image-two img {
        width: 60%;
    }
}

@media only screen and (min-width: 768px) {
    #matches table td.result {
        font-size: 2em;
    }
    #matches table td.clash {
        font-size: 1.2em;
    }
    #matches table td.image-two img {
        width: 66%;
    }
}

@media only screen and (min-width: 992px) {
    #matches table td.result {
        font-size: 3em;
    }
    #matches table td.image-one img {
        width: 80%;
    }
    #matches table td.image-two img {
        width: 60%;
    }
    #matches table td.clash {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 1382px) {
    #matches table td.result {
        font-size: 4em;
    }
    #matches table td.clash {
        font-size: 1.5em;
    }
}


#twitterframe {
    float: right;
    margin: 40px 0 20px;
}
a#follow-twitter{
    position: absolute;
    top: 250px;
    left: 300px;
    text-decoration: none !important;
    background: transparent;
}
@media only screen and (max-width: 1199px) {
    a#follow-twitter{
        top: 250px;
        left: 100px;
    }
}
@media only screen and (max-width: 992px) {
    a#follow-twitter {
        top: 250px;
        left: 20px;
        width: 20%;
    }
}
@media only screen and (max-width: 767px) {
    a#follow-twitter {
        top: 250px;
        left: 5%;
        width: 30%;
        transform: rotate(270deg);
        transform-origin: 0 0;
    }
}
@media only screen and (max-width: 599px) {
    a#follow-twitter {
        top: 250px;
        left: 5%;
        width: 30%;
        transform: rotate(270deg);
        transform-origin: 0 0;
    }
}

.blog-featured ul.actions {display: none;}

.blog-featured {position: relative; float:left; width: 100%;/*height:0; padding-bottom:67.7%;*/ background:url(../../../images/bg-latest-news.png) 0 0 no-repeat; background-size: cover; }

.column-2, .blog-featured .column-3 {
    width: auto;
    margin-left: auto;
}
.column-1, .column-2, .column-3, .column-4 {
    padding: 10px 0;
}

.blog-featured .items-row {
    float:left;
    width:69%;
    margin-right: 5%;
    margin-left: 26%;
}
.blog-featured .items-row.row-0 {
    padding-top: 65px;
}

.blog-featured .items-row .item {
    position: relative;
    float:left;
    width: 22.7% !important;
    margin-right: 3%;
    margin-left: 0 !important;
}
.blog-featured .items-row .item.column-4 {
    margin-right: 0;
}

.blog-featured .items-row.row-1 .item {
    width: 100% !important;
    margin-right: 0 !important;
}

.blog-featured .items-row h4 {
    position: absolute;
    top: 15px;
    left: 15px;
    font-family: "Arial Narrow", Arial;
    font-size: 1.5em;
    line-height: 1em;
    color: #fff;
}
.blog-featured .items-row h4 em {
    display: block;
    font-size: .6em;
    font-style: normal;
}

.blog-featured .items-row img {
    /*width:100%;*/
}


.blog-featured .items-row p.readmore a {
    display: block;
    padding: 10px 10px 10px 0;
    text-align: right;
    background: none;
    background-color: #292929;
    color: #ed6b1d;
    text-decoration: none;
    text-shadow: inherit;
    border:0;
    box-shadow: inherit;
    border-radius: inherit;
}

.img-intro-left {
    margin-right: 0;
    margin-bottom: 0;
}


.player {position: relative; float:left; /*height:0; padding-bottom:36.25%;*/ background:url(../../../images/bg-our-player.png) 0 0 no-repeat; background-size: cover; clear: both; }

.player h4 {
    font-family: "Arial Narrow", Arial;
    font-size: 1.4em;
    line-height: 1.2em;
    font-weight: bold;
    color: #ed6b1d;
    margin: 10px 0 0;
}

.player p {
    font-family: "Arial Narrow", Arial;
    color: #fff;
}

.player img {
    border: 1px solid #ec6b1d;
}

.player .items-row {
    float: left;
    width: 69%;
    margin-right: 5%;
    margin-left: 26%;
    padding-top: 75px;
}

.player .items-row .player-item {
    position: relative;
    float:left;
    width: 30% !important;
    margin-right: 4.85%;
    margin-left: 0 !important;
}
.player .items-row .player-item.item-3 {
    margin-right: 0;
}

@media only screen and (max-width: 767px) {
    .player .items-row .player-item {
        width: 45% !important;
    }
    .player .items-row .player-item.item-2 {
        margin-right:0;
    }
    .player .items-row .player-item.item-3 {
        clear:left;
    }
}
@media only screen and (max-width: 599px) {
    .player .items-row .player-item {
        width: 100% !important;
        margin-right:0 !important;
    }
}

.about {position: relative; float:left; background:url(../../../images/bg-about.png) 0 0 no-repeat; background-size: cover; clear: both; }

.about p {color: #fff;}

.about .center-block {margin-top: 72px;}


#footer {
    background-color: #2d2d2d;
    padding: 3% 0 3% 8%;
    max-width: none;
    margin: 0;
    box-shadow: none;
}
#footer img {
    width:25%;
}
#footer p {
    margin-bottom: 0;
}

#latestnews.latestnews_wrapper h4 {
    margin-bottom:5px;
}

@media only screen and (max-width: 1199px) {
    #latestnews.latestnews_wrapper h4 {
        font-size: .9em;
    }
    #latestnews.latestnews_wrapper p {
        font-size: .7em;
    }
    #header #latestnews ul {
        width: 200px;
        padding-top: 150px;
        background-position: 0 -100px;
    }
    #latestnews.latestnews_wrapper {
        right: 50px;
    }
    #header #latestnews h2 {
        font-size: .7em;
        top: 150px;
        right: 225px;
    }
}
@media only screen and (max-width: 992px) {
    #header #latestnews ul {
        padding-top: 100px;
    }
}
@media only screen and (max-width: 767px) {

}
@media only screen and (max-width: 599px) {

    #latestnews.latestnews_wrapper,
    .supported-by-bar h4 {
        display: none;
    }
}

.imprint_holder {
    padding: 50px 5% 50px 26%;
    background: #000 url(../../../images/Background.jpg) 0 0 no-repeat; background-size: 100% 100%;
}
.imprint_holder h3 em {
    /*color: #ed6b1d;*/
    color: #fff;
    font-weight: bold;
    font-style: normal;
}
.imprint_holder p {
    color: #fff;
}
.imprint_holder a {
    color: #fff !important;
    background: none !important;
}

#wrapper2 .item-page {
    max-width:none;
}

ul.actions {display:none;}
#main {
    padding-bottom: 0;
}
a:hover, a:active, a:focus {
    background: transparent;
}

#mobile_select h2 {
    background: #000;
}